.backBlur::before{
    content: '';
    width: 240px;
    height: 350px;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 2px solid white;
}

.skewImg{
    transform: rotate(-5deg);
    position: relative;
    top: -30px;
    left: -15px;
}

.line{
    width: 3px;
    height: 300px;
    background: #aaccfd;
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px violet,
        inset -6px 0 15px #0ff,
        inset 6px 0 15px violet,
        inset -6px 0 15px #0ff,
        0 0 12px #fff, -4px
        0 12px violet, 4px 0 18px #0ff;
}